[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "*"
fastapi = "*"
pandas = "*"
pyinstaller = "==4.6"
python-multipart = "*"
uvicorn = "*"

pefile = {version = "*", sys_platform = "== 'win32'"}
pywin32-ctypes = {version = "*", sys_platform = "== 'win32'"}

[dev-packages]

[requires]
python_version = "3.9"
